[Desktop Entry]
Type=Application
Name=Shrimply
GenericName=Video Editor
Comment=A simple video editor
Exec=shrimply %f
TryExec=shrimply
Icon=dev.shrimply.Shrimply
Terminal=false
StartupNotify=true
PrefersNonDefaultGPU=true
Categories=AudioVideo;Video;GTK;
MimeType=application/x-shrimply-project;
Keywords=video;audio;editor;timeline;
